.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
   font-style: normal;
  font-variation-settings:
    "wdth" 100 }
 .{
    margin: 0px;    
    padding: 0px;
 }  

header{
    max-width: 1440px;
    height: 698;
    background-image: url(../My-first-assignment/B12A01-landing-launchpad/Assets/Hero-bg.png);
}     