

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
   font-style: normal;
  font-variation-settings:
    "wdth" 100;
} 
*{
    margin: 0px;
    padding: 0px;
}

       /* shared styles */

       .primary-color{
        color: #4E47FF;
       }
       .secondary-color{
        color: #555;
       }
       .primary-btn{
        background-color:#4E47FF ;
        color: white;
        padding: 12px 36px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        
       }
       .primary-text{
        font-size: 42px;
        font-weight: bold;

       }
       /* header-style */
       header{
        background-image: url(./B12A01-landing-launchpad/Assets/Hero-bg.png);
         height: 698px;}

         
        
        
      /* nav style    */
      .logo{
        font-size: 34px;
        font-weight: 900;
      }
     nav{
        display: flex;
        justify-content: space-between;
        margin: 0 150px;
        align-items: center;
        padding: 50px 0px;

     }
     
         /* Banner Style  */
     .banner-heading{
        font-size: 65px;
        font-weight: bold;
        margin-bottom: 37px;

     }
     .banner-content{
        max-width: 905px;
        height: 237px;
        text-align: center;
        margin: 100px auto;
     }

         /* main styles */
         

      /* Action Section styles    */

      .Action-Section{
        display: flex;
        justify-content: space-between;
        margin: 116px 141px 116px 200px;
        border: 1px solid rebeccapurple;
        
        align-items: center;
      }
      .action-content{
        width: 45.35%;

      }
      .action-img{
        width: 35.35%;
        border-radius: 48px;
      }
      .action-description{
        font-size: 20px;
        margin: 23px 0px;
        }

             /* usre styles */

        .user-section{
            border: 1px solid red;
            margin: 116px 141px 116px 200px;
            padding: 50px 142px;
            background-color: #F5F8FF;

            
        }
        .user-tittle{
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 40px;
        }
        .user-data-section{
            display: flex;
            justify-content: space-between;
        }
        .tittle{
            font-size: 80px;
            font-weight: bold;
            color: #4E47FF;
        }
        .description{
            font-size: 20px;
            color: #252432;
        }
             
          /* Feedback Section Styles */

        .Feedback-Section{
            border: 1px solid red;
            margin: 116px 141px 116px 200px;

        }  
        .feedback-tittle{
            font-size: 42px;
            font-weight: bold;
            text-align: center;
        }
        .star{
            color: gold;
            margin-bottom: 24px;
        }
        .review-tittle{
            margin-bottom: 8px;
            
        }
        .review-card{
            background-color: aqua;
        }
        .review-description{
            color: #555;
        }
        .reviewer-info .date{
            color: #999;
        }
        .reviewer-img{
            border-radius: 50px;
        }

         

        
        .review-container{
            display: flex;
            margin-top: 50px;
            gap: 20px;
            
        }
        .reviewer{
            display: flex;
            margin-top: 24px;
            padding: 10px;
            
        }

        

    

      
