/* Google Fonts */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #252432;
  background-color: #fff;
}

/* Utilities */
.primary-color {
  color: #4E47FF;
}

.secondary-color {
  color: #555;
}

.primary-btn {
  background-color: #4E47FF;
  color: white;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.primary-btn:hover {
  background-color: #3b36cc;
}

.primary-text {
  font-size: 42px;
  font-weight: bold;
}

/* Header */
header {
  background-image: url('./Assets/Hero-bg.png');
  background-size: cover;
  height: 698px;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}

.logo {
  font-size: 34px;
  font-weight: 900;
}

.banner-content {
  text-align: center;
  max-width: 905px;
  margin: 100px auto;
}

.banner-heading {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 37px;
}

/* Action Section */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 116px 141px 116px 200px;
  gap: 40px;
}

.action-content {
  flex: 1;
}

.action-description {
  font-size: 20px;
  margin: 23px 0;
}

.action-img {
  flex: 1;
  max-width: 100%;
  border-radius: 48px;
}

/* User Section */
.user-section {
  background-color: #F5F8FF;
  padding: 50px 142px;
  margin: 0 141px 116px 200px;
  text-align: center;
}

.user-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
}

.user-data-section {
  display: flex;
  justify-content: space-around;
}

.user-data .title {
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
}

.description {
  font-size: 20px;
}

/* Feedback Section */
.feedback-section {
  margin: 0 141px 116px 200px;
  text-align: center;
}

.feedback-title {
  font-size: 42px;
  font-weight: bold;
}

.review-container {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  justify-content: center;
}

.review-card {
  background-color: #f3f3f3;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.star {
  color: gold;
  margin-bottom: 24px;
}

.review-title {
  margin-bottom: 8px;
  font-weight: bold;
}

.review-description {
  color: #555;
}

.reviewer {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.reviewer-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.reviewer-info .name {
  font-weight: bold;
}

.reviewer-info .date {
  font-size: 14px;
  color: #999;
}
